html {
  box-sizing: border-box;
  font-family: 'Karla';/*add font family to the whole html*/
  font-size: 16px;/*set font to the whole html*/
}
body{
  padding: 20px;/*give an overall padding*/
}
h2, h4, p{
  margin: 0;
}
*, *:before, *:after{
  box-sizing: inherit;
}
#container{
  width: 600px;
  height: 450px;
  box-shadow: box-shadow: 1px 3px 18px -2px rgba(0,0,0,0.32);
-webkit-box-shadow: 1px 3px 18px -2px rgba(0,0,0,0.32);
-moz-box-shadow: 1px 3px 18px -2px rgba(0,0,0,0.32); /*give shadow to the box(have to go to box shadow generator)*/
  border-radius: 8px; /*make border round*/
  overflow: hidden; /*have nothing go over original container*/
}
#top{ 
  width: 100%;
  height: 45%;
  padding: 30px;
}
.bottom{
  width: 100%;
  height: 55%;
}
#bottomL{
  display: inline-block;/*two elements next to each other*/
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #2ab2b0;
  padding: 30px;
  color: white;
}
#bottomR{
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #31d6d4;
  padding: 30px;
  color: white;
}
#top h2{
  color: #2ab2b0;
  margin-bottom: 20px;  
}
#top h4{
  color: #c0df34;
  margin-bottom: 15px; 
}
#top p{
  color: #98a6bd
}
button{
  background-color:  #c0df34;
  font-size: 0.9rem;
  color: white;
  border: none; /*take off ugly border*/
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-top: 40px;
}
button:hover{
  cursor: pointer;
  background-color: #abc922;
}
#pr{
  font-weight: 700;
  font-size: 1.6rem;
  margin-top:15px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: inline-block;
  
}
#perM{
   display: inline-block;
   position: relative;
   top: -3px;
   font-size: 0.8rem;
   opacity: 0.8;
}
#bottomL p{
  font-size: 0.9rem;
  margin-top: 5px;
}
ul{
  padding: 0;
  list-style-type: none;/*take off bullet points*/
  opacity:0.8;
  font-size: 0.9rem;
}
